<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <Host>3NA5yj9jSmFFxQRbH4gbiV8ChksQQwGW</Host>
    <ServiceName>hQbccBHsqeuDUDiAm4mFlw==</ServiceName>
    <UserName>aUTWiFily1872EzTSbNzCdtnlK71FOXcp093EWnk/Qk=</UserName>
    <Password>AbheEDfv95LpSvjSKTnxcg==</Password>
    <!-- <Host>3NA5yj9jSmFFxQRbH4gbiV8ChksQQwGW</Host> -->
    <!-- <ServiceName>hQbccBHsqeuDUDiAm4mFlw==</ServiceName> -->
    <!-- <UserName>CPMSO/Mn8Znq5+Cu90lUljj/6Zv83URz</UserName> -->
    <!-- <Password>eXSjoy6gC12TFfuMCjDSCw==</Password> -->
</configuration>